.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ddd;
}

.Header-user {
    display: flex;
    align-items: center;
    gap: 14px;
}

.Header-user .Image {
    border-radius: 24px;
}